// Article content, with max width

.article {
    margin: 0 auto;
    max-width: 60em;

    >section {
        @include padding(6em, 0);
        border-top: solid 2px _palette(border);

        &:first-of-type {
            border-top: 0 !important;
        }
    }
}
